extends layout

block title
  title EBS Payment Response

block scripts
  style.
    body { background : #ECF1F7; text-align : center; }
    h1       { font-family:Arial,sans-serif; font-size:24pt; color:#08185A; font-weight:100; margin-bottom:0.1em}
    h2.co    { font-family:Arial,sans-serif; font-size:24pt; color:#FFFFFF; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
    h3.co    { font-family:Arial,sans-serif; font-size:16pt; color:#000000; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
    h3       { font-family:Arial,sans-serif; font-size:16pt; color:#08185A; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
    body     { font-family:Verdana,Arial,sans-serif; font-size:11px; color:#08185A;}
    th 		 { font-size:12px;background:#015289;color:#FFFFFF;font-weight:bold;height:30px;}
    td 		 { font-size:12px;background:#DDE8F3}
    .pageTitle { font-size:24px;}

block content
  table(width='100%', cellpadding='0', cellspacing='0')
    tr
      th(width='90%')  
  center
    h3 Response
    if(!data['status'])
      h5 Hash validation failed!
    table(width='600', cellpadding='2', cellspacing='2', border='0')
      tr
        th(colspan='2') Transaction Details
      each val, index in  data
        tr
          td.fieldName(width='50%')=index
          td.fieldName(align='left', width='50%')=val
    table(width='100%', cellpadding='0', cellspacing='0')
      tr
        th(width='90%')  
